* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
    font-family: 'Manrope', sans-serif;
}

body {
    /* background-color: #FF0000; */
    background-image: url("generalbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: black;
    overflow: hidden;
    overflow-y: scroll;
}